.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImageLight,
.featureImageDark {
  height: 200px;
}

[data-theme='dark'] .featureImageLight {
  display: none;
}

[data-theme='light'] .featureImageDark {
  display: none;
}
