# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout this repository
      uses: actions/checkout@v4
    - name: Checkout @reactodia/workspace
      uses: actions/checkout@v4
      with:
        repository: reactodia/reactodia-workspace
        path: ./reactodia-workspace
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 22.x
        cache: 'npm'
    - name: Install dependencies for this repository
      run: npm ci
    - name: Install dependencies for @reactodia/workspace
      run: cd ./reactodia-workspace && npm ci
    - name: Typecheck
      run: npm run typecheck
    - name: Test build
      run: npm run build -- --no-minify
